body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
div {
  color: red;
  border: 2px solid green;
}

.gor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centralspace {
  width: 100%;
}

.avatar {
  width:55px;
  height:55px
}
.maxheight {
  height: 100%;
  align-items : stretch
}