h1 {
  color: blue;
}
.div2 {

  border: 2px solid green;
}

.gor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gormovie1 {
  display: flex;
  flex-direction: row;
  justify-content: space-start;

}
.flex-container {
  background-color: #f4f7f8;
  resize: horizontal;
  overflow: hidden;
  display: flex;
  margin: 1em;
  flex-grow : 2 1 auto

}

.fl1 {

    width : 40rem;
    }
.fl2 {
    width : 20rem;
    }
.fl3 {
    width : 20rem;
    }

.initial {
  flex: initial;
}

.item {
  margin: 1em;
  padding: 0.5em;
  width: 110px;
  min-width: 0;
  background-color: #1b5385;
  color: white;
  font-family: monospace;
  font-size: 13px;

  a:visited {
    color: white;
    }
}

.centralspace {
  width: 100%;
}

.biglist {
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: center;
}

.movie_card_short {
  width: 20rem;
  height: 23rem; 
   padding: 20px;

}

.avatar {
  width:55px;
  height:55px
}
.maxheight {
  height: 100%;
  align-items : stretch
}


.poster_big {
  width : "500px";
  height : "100%"
}
