{% extends 'base.html' %}

{% load static %}

{%block content%}
<div class="gor">





    <div >
        movie description
        {# <h1>NAME : {{object.url}}</h1> #}
        <h1>{{object.title}}</h1>
        <h1>{{object.titleRu}}</h1>

        <span>
            {{object.description}}</h1>
        </span>

        <h4>Year: {{object.year}}</h4>
        <h4>First date: {{object.date_premier}}</h4>
        <h4>Quality: {{object.quality}}</h4>

        <h4>Countries:</h4>
        <ul>
            {%for item in countries%}
                <li> {{item.country}}</li>
            {%endfor%}
        </ul>

        <h4>Actors:</h4>
        <ul>
            {%for item in actors%}
                <li> <a href="/actor/{{item.actor.id}}">  {{item.actor}}</a></li>
            {%endfor%}
        </ul>

        <h4>Directors:</h4>
        <ul>
            {%for item in directors%}
                <li> {{item.director}}</li>
            {%endfor%}
        </ul>

        <h4>Janres:</h4>
        <ul>
            {%for item in janres%}
                <li> {{item.janre}}</li>
            {%endfor%}
        </ul>



        <h4>Added: {{object.date_added}}</h4>
        <h4>{{object.url}}</h4>

        <input type="button" value="UPDATE" onclick="PushAction({{object.id}}, 'UpdateMovieData', 'ActionForm')">
    </div>

    <div class="poster_big">
        {%if poster == ''%}
            <img width="500px" height="800px" src="{% static 'mvcat/images/movie_sample.png' %}">
        {%else%}
            <img width="500px" src="{{object.poster}}" height="800px">
        {%endif%}
    </div>





</div>

{%endblock%}
