{% extends 'base.html' %}

{% load static %}

{%block content%}
<div class="gor">
    <div >
        movie description
        {# <h1>NAME : {{object.url}}</h1> #}
        <h1>{{object.title}}</h1>
        <h1>{{object.titleRu}}</h1>

        <span>
            {{object.description}}</h1>
        </span>

        <h4>Year: {{object.year}}</h4>
        <h4>First date: {{object.date_premier}}</h4>
        <h4>Quality: {{object.quality}}</h4>

        <h4>Countries:</h4>
        <ul>
            {%for item in countries%}
                <li> {{item.country}}</li>
            {%endfor%}
        </ul>

        <h4>Actors:</h4>
        <ul>
            {%for item in actors%}
                <li> <a href="/actor/{{item.actor.id}}">  {{item.actor}}</a></li>
            {%endfor%}
        </ul>

        <h4>Directors:</h4>
        <ul>
            {%for item in directors%}
                <li> {{item.director}}</li>
            {%endfor%}
        </ul>


        <h4>Added: {{object.date_added}}</h4>

    </div>

    <div class="poster_big">
        <img width="500px" height="800px" src="{% static 'mvcat/images/movie_sample.png' %}">
    </div>





</div>

{%endblock%}
