{% extends 'base.html' %}

{% load static %}

{%block content%}

<h1>{{object.name}}</h1>

<h2>MOVIES</h2>
{% for item in movies %}
<div class="gor">
    <div>
        <p>-Year:{{item.movie.year}}</p>
        <h2>{{item.movie.title}}</h2>
        <h2>-{{item.movie.titleRu}}</h2>
        <p>-Cast position:{{item.stringposition}}</p>

    </div>

    <div>
        <p>Actors/acress</p>

    </div>
    <div>
        <p>Info</p>

    </div>
    <div>
        <p>Poster</p>
        <img src="{{item.movie.poster}}">
    </div>


</div>
{% endfor%}


{%endblock%}