{% extends 'base.html' %}

{% load static %}


{%block content%}

<h1>{{object.name}}</h1>

        <script>
            function PushAddToCompare(){
                var form = document.getElementById("AddActorToCompareForm");
                form.submit()
            }
        </script>

<form action="" method="get" hidden="true" id = 'AddActorToCompareForm' >
    {{AddToCompareform}}
    <input type="submit" value="ADD TO COMPARE"></input>
</form>

<input type="button" value="ADD TO COMPARE" onclick="PushAddToCompare()">

<h2>MOVIES</h2>
{% for item in movies %}
<div class="gor">
    <div class="flex-container">
        <div class="fl1">
            <p>{{item.year|default:'0000'}}</p>
            <h2><a href="/movie/{{item.id}}">{{item.title|default:'NO NAME'}}</a></h2>
            <h2>{{item.titleRu|default:'NO NAME'}}</h2>


        </div>

        <div class="fl2">
            <p>Actors/acress</p>
            <ul>
            {% for itemactor in actors %}
                {%if itemactor.movie_id == item.id%}
                    <li> <a href="/actor/{{itemactor.actor.id}}">{{itemactor.actor}}</a></li>
                {%endif%}

            {% endfor%}
            </ul>

        </div>
        <div class="fl3">
            <p>Info</p>

            <p>Directors</p>
            <ul>
            {% for itemactor in directors %}
                {%if itemactor.movie_id == item.id%}
                    <li> <a href="/actor/{{itemactor.actor.id}}">{{itemactor.director}}</a></li>
                {%endif%}

            {% endfor%}
            </ul>

            <p>Countries</p>
            <ul>
            {% for itemactor in countries %}
                {%if itemactor.movie_id == item.id%}
                    <li> <a href="/actor/{{itemactor.actor.id}}">{{itemactor.country}}</a></li>
                {%endif%}

            {% endfor%}
            </ul>

        </div>
    </div>
    <div>
        <p>Poster</p>
        <img src="{{item.poster}}">
    </div>


</div>
{% endfor%}


{%endblock%}