
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <link rel="stylesheet" href={% static 'mvcat/css/style.css' %}>


    <title>{% block title %}My amazing site{% endblock %}</title>

</head>
<script>
function ShowAllert(myStr){
    alert('Hello alert!' + myStr)
}

function PushAction(MyId, Action, FormName){
    var form = document.getElementById("ActionForm");
    document.getElementById("id_MyId").value = MyId;
    document.getElementById("id_Action").value = Action;
    document.getElementById("id_FormName").value = FormName;
    form.submit();
}

</script>

<body>
<script type="text/javascript" src={% static 'mvcat/js/dialogs.js' %}></script>

    <form action="" hidden="true" metod="get" id="ActionForm">
        {{ActionForm}}
    </form>

    <div class="gor">

        <div >
            <img
                    class="avatar"
                    src="{% static 'mvcat/images/logo.png' %}"
                >
        </div>
        <div class="centralspace">

            {% if  user.is_authenticated %}
                <p>{{user}}</p>
            {% endif %}

            <p>Logged:{{user.is_authenticated}}</p>
        </div>

        {% block SelectedActors %}

        <form action="" method="get" id="deleteform" hidden="false">
            {{DeleteSelectedActorForm}}
        </form>

        <script>
            function PushDel(MyId){
                var form = document.getElementById("deleteform");
                document.getElementById("id_ItemId").value = MyId;
                form.submit()
            }
        </script>


            {%for item in SelectedActors%}

                <div>
                    {{item.name}}
                    <input type="button" value="DEL" onclick="PushDel({{item.id}})" >
                </div>

            {%endfor%}
        {% endblock SelectedActors %}

        <div class="gor">
            <div>
                {% if user.is_authenticated %}
                    <p>{{ user.get_username }}</p>
                    <p><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></p>
                {% else %}
                    <p><a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
                {% endif %}

            </div>
            <div>
                {% if user.is_authenticated %}
                    <img class="avatar" src="{% static 'mvcat/images/man.jpg' %}"  >
                {% else %}
                    <img class="avatar" src="{% static 'mvcat/images/unknown.png' %}"  >
                {% endif %}

            </div>
        </div>
    </div>

    <div class="gor maxheight">
        <div id="sidebar">
            {% block sidebar %}

                <div class='item'>
                    <a href="/">Home</a>
                </div>

                <div class='item'>
                    <a href="/movietype/">Movie types</a>
                </div>
                <div class='item'>
                    <a href="/actors/">Actors/actress</a>
                </div>
                <div class='item'>
                    <a href="/movies/">All movies</a>
                </div>

                {%if user.is_authenticated%}
                <div class='item'>
                    <a href="/load/"  >LOAD</a>
                </div>
                {%endif%}

            {% endblock %}

            {% if SearchExist  %}
                {% block searchblock%}

                <form action="" method="get">
                    {% csrf_token %}

                    {% if SearchModel == 'Movie'  %}
                    Movie
                        {% for field in SearchForm %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{SearchForm}}
                    {% endif %}

                    <input type="submit" value="Search">
                </form>

                {% endblock searchblock%}
            {% endif %}



        </div>

        <div class = 'centralspace' id="content">
            {% block content %}


            {% endblock %}

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>
    </div>

</body>
</html>