
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="style.css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    {% load static %}
    <img
        src="{% static 'mvcat/images/man.jpg' %}"
        style="width:155px;height:140px";
    >
    <p>ddd={% static '/mvcat/images/11.png' %}</p>
    <img src='{% static "/mvcat/images/11.png" %}' alt="My image">

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cat2/">cat 2</a></li>
            <li><a href="/cat3/">cat 3</a></li>
            <li><a href="/movietype/">ALL Movietypes</a></li>

        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>