{% extends 'base.html' %}

{% load static %}
{% block content %}


<div>
{%for item in actors%}
    <li>{{item.name}}</li>
{%endfor%}


<h1>{{movietype}}</h1>

<div class="biglist">
{%for item in object_list%}

    <div class="movie_card_short">
        <div class="gor">
            <div >
            {%if item.poster == ''   %}
                <img src="{% static 'mvcat/images/movie_sample.png' %}">
            {%else%}
                <img src = {{item.poster}} >
            {%endif%}
            </div>

            <div  >
                {%for janreitem in item.janres.all%}
                    <div>
                        {%if janreitem.picturePath == ''%}

                        {%else%}
                            <img src= src="{% static 'mvcat/images/logo.png' %}" >
                        {%endif%}
                        {{janreitem.name}}
                    </div>
                {%endfor%}


            </div>

        </div>
        <div>
            {%if item.title == ''%}
                <a href='/movie/{{item.id}}'>{{item.url}}</a>
            {%else%}
                <h3><a href='/movie/{{item.id}}'>{{item.title}}</a></h3>
                <h3><a href='/movie/{{item.id}}'>{{item.titleRu}}</a></h3>
            {%endif%}

        </div>

    </div>


{%endfor%}
</div>

{% endblock %}